In [1]:
import pandas as pd
import numpy as np

In [2]:
clean_data = pd.read_csv("clean_data.csv")
clean_data.iloc[0]

UNITID                                        100654.0
CIPCODE                                            100
CIPDESC                          Agriculture, General.
CREDLEV                                              3
DEBT_ALL_STGP_ANY_MDN                               PS
DEBT_ALL_PP_ANY_MDN                                 PS
DEBT_ALL_PP_ANY_MDN10YRPAY                          PS
EARN_MDN_HI_1YR                                     PS
EARN_MDN_HI_2YR                                     PS
EARN_PELL_WNE_MDN_1YR                               PS
EARN_NOPELL_WNE_MDN_1YR                             PS
EARN_MALE_WNE_MDN_1YR                               PS
EARN_NOMALE_WNE_MDN_1YR                             PS
EARN_MDN_1YR                                        PS
EARN_MDN_4YR                                        PS
BBRR1_FED_COMP_N                                    PS
BBRR1_FED_COMP_PAIDINFULL                           PS
EARN_MDN_5YR                                        PS
CIPCODE_ORIG                                       100
INSTNM                        Alabama A & M University
CONTROL                                            1.0
DISTANCEONLY                                       0.0
NPT4_PUB                                       14559.0
NPT4_PRIV                                          NaN
COSTT4_A                                       23751.0
RPY_1YR_RT                                0.1734693878
RPY_3YR_RT                                0.2531554273
RPY_5YR_RT                                0.3311258278
DEBT_MDN                                         16600
MD_EARN_WNE_P10                                40628.0
MD_EARN_WNE_P6                                 27851.0
MD_EARN_WNE_5YR                                52246.0
Name: 0, dtype: object

In [3]:
clean_data.replace(["PS", "PrivacySuppressed", "NULL", "NaN"], np.nan)

,UNITID,CIPCODE,CIPDESC,CREDLEV,DEBT_ALL_STGP_ANY_MDN,DEBT_ALL_PP_ANY_MDN,DEBT_ALL_PP_ANY_MDN10YRPAY,EARN_MDN_HI_1YR,EARN_MDN_HI_2YR,EARN_PELL_WNE_MDN_1YR,...,NPT4_PUB,NPT4_PRIV,COSTT4_A,RPY_1YR_RT,RPY_3YR_RT,RPY_5YR_RT,DEBT_MDN,MD_EARN_WNE_P10,MD_EARN_WNE_P6,MD_EARN_WNE_5YR
0,100654.0,100,"Agriculture, General.",3,NaN,NaN,NaN,NaN,NaN,NaN,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
1,100654.0,101,Agricultural Business and Management.,3,NaN,NaN,NaN,NaN,NaN,NaN,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
2,100654.0,109,Animal Sciences.,3,NaN,NaN,NaN,NaN,NaN,NaN,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
3,100654.0,110,Food Science and Technology.,3,NaN,NaN,NaN,NaN,NaN,NaN,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
4,100654.0,110,Food Science and Technology.,5,NaN,NaN,NaN,NaN,NaN,NaN,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229183,NaN,5201,"Business/Commerce, General.",2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229184,NaN,5203,Accounting and Related Services.,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229185,NaN,5204,Business Operations Support and Assistant Serv...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229186,NaN,5204,Business Operations Support and Assistant Serv...,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229187,NaN,5214,Marketing.,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
for col in clean_data.columns:
    clean_data[col] = pd.to_numeric(clean_data[col], errors="ignore")

/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_21311/1784778837.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  clean_data[col] = pd.to_numeric(clean_data[col], errors="ignore")

In [5]:
clean_data

,UNITID,CIPCODE,CIPDESC,CREDLEV,DEBT_ALL_STGP_ANY_MDN,DEBT_ALL_PP_ANY_MDN,DEBT_ALL_PP_ANY_MDN10YRPAY,EARN_MDN_HI_1YR,EARN_MDN_HI_2YR,EARN_PELL_WNE_MDN_1YR,...,NPT4_PUB,NPT4_PRIV,COSTT4_A,RPY_1YR_RT,RPY_3YR_RT,RPY_5YR_RT,DEBT_MDN,MD_EARN_WNE_P10,MD_EARN_WNE_P6,MD_EARN_WNE_5YR
0,100654.0,100,"Agriculture, General.",3,PS,PS,PS,PS,PS,PS,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
1,100654.0,101,Agricultural Business and Management.,3,PS,PS,PS,NaN,NaN,PS,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
2,100654.0,109,Animal Sciences.,3,PS,PS,PS,PS,PS,PS,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
3,100654.0,110,Food Science and Technology.,3,PS,PS,PS,PS,PS,PS,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
4,100654.0,110,Food Science and Technology.,5,PS,PS,PS,PS,PS,PS,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229183,NaN,5201,"Business/Commerce, General.",2,NaN,NaN,NaN,NaN,NaN,PS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229184,NaN,5203,Accounting and Related Services.,1,NaN,NaN,NaN,NaN,NaN,PS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229185,NaN,5204,Business Operations Support and Assistant Serv...,1,NaN,NaN,NaN,NaN,NaN,PS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229186,NaN,5204,Business Operations Support and Assistant Serv...,2,NaN,NaN,NaN,NaN,NaN,PS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229187,NaN,5214,Marketing.,3,NaN,NaN,NaN,NaN,NaN,PS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
clean_data.isna().mean().sort_values()

CIPCODE                       0.000000
CIPDESC                       0.000000
CREDLEV                       0.000000
EARN_MDN_1YR                  0.000000
EARN_NOMALE_WNE_MDN_1YR       0.000000
EARN_MALE_WNE_MDN_1YR         0.000000
EARN_NOPELL_WNE_MDN_1YR       0.000000
EARN_PELL_WNE_MDN_1YR         0.000000
CIPCODE_ORIG                  0.000000
EARN_MDN_5YR                  0.000000
DEBT_ALL_STGP_ANY_MDN         0.038636
EARN_MDN_4YR                  0.038636
BBRR1_FED_COMP_N              0.038636
BBRR1_FED_COMP_PAIDINFULL     0.038636
DEBT_ALL_PP_ANY_MDN           0.038636
DEBT_ALL_PP_ANY_MDN10YRPAY    0.038636
UNITID                        0.044108
DISTANCEONLY                  0.067530
CONTROL                       0.067530
INSTNM                        0.067530
DEBT_MDN                      0.071561
MD_EARN_WNE_P6                0.086318
MD_EARN_WNE_P10               0.088281
MD_EARN_WNE_5YR               0.088848
EARN_MDN_HI_1YR               0.104896
RPY_3YR_RT                    0.110874
RPY_1YR_RT                    0.113571
RPY_5YR_RT                    0.115032
EARN_MDN_HI_2YR               0.119435
COSTT4_A                      0.132503
NPT4_PUB                      0.431458
NPT4_PRIV                     0.667727
dtype: float64

In [5]:
# Python
import pandas as pd

df = pd.read_csv("clean_data.csv")

def major_outcome(df, major_substr, credlev=None):
    mask = df["CIPDESC"].str.contains(major_substr, case=False, na=False)
    if credlev is not None:
        mask &= (df["CREDLEV"] == credlev)
    cols = [
        "INSTNM","CIPDESC","CREDLEV",
        "EARN_MDN_1YR","EARN_MDN_4YR","EARN_MDN_5YR",
        "MD_EARN_WNE_P6","MD_EARN_WNE_P10","MD_EARN_WNE_5YR",
        "DEBT_MDN","RPY_1YR_RT","RPY_3YR_RT","RPY_5YR_RT",
        "NPT4_PUB","NPT4_PRIV","COSTT4_A"
    ]
    out = df.loc[mask, cols].copy()
    # Coerce to numeric, ignoring privacy-suppressed strings
    for c in cols[3:]:
        out[c] = pd.to_numeric(out[c], errors="coerce")
    # Aggregate across institutions for a quick view
    summary = out.describe(include="all").T[["count","mean","50%","min","max"]]
    return out.sort_values("MD_EARN_WNE_P10", ascending=False), summary

# Example: outcomes for “Computer and Information Sciences” bachelor’s (CREDLEV 3)
# detail, summary = major_outcome(df, "Computer and Information Sciences", credlev=3)
detail, summary = major_outcome(df, "Biology", credlev=3)
summary

                  count          mean       50%       min       max
INSTNM             3038           NaN       NaN       NaN       NaN
CIPDESC            3169           NaN       NaN       NaN       NaN
CREDLEV          3169.0           3.0       3.0       3.0       3.0
EARN_MDN_1YR     1235.0  32848.793522   32538.0   10934.0   78358.0
EARN_MDN_4YR     1048.0  48822.255725   47845.0   19207.0  119329.0
EARN_MDN_5YR     1176.0   61154.79932   61693.5   23949.0  152425.0
MD_EARN_WNE_P6   3024.0  49881.443452   47989.0   18186.0  132140.0
MD_EARN_WNE_P10  3022.0   60332.66049   57539.5   22544.0  143372.0
MD_EARN_WNE_5YR  3018.0  62141.286945   59482.0   23204.0  154095.0
DEBT_MDN         3020.0  16578.745033   16500.0    3500.0   27000.0
RPY_1YR_RT       3000.0      0.608453  0.625917  0.072864   0.91671
RPY_3YR_RT       2996.0      0.654838  0.671533  0.117936  0.933673
RPY_5YR_RT       2993.0      0.705302   0.72549  0.132867   0.94507
NPT4_PUB         1200.0  14739.646667   14767.0     -52.0   30074.0
NPT4_PRIV        1809.0       25397.0   24415.0    4285.0   50959.0
COSTT4_A         3008.0  43921.815824   41657.0    8994.0   87804.0

### Utilities: majors picker and automatic cred level

In [6]:
import re
import numpy as np
import pandas as pd
from typing import Optional, List, Tuple

# Return unique majors (CIP descriptions) sorted
def list_majors(df: pd.DataFrame) -> List[str]:
    col = "CIPDESC"
    if col not in df.columns:
        raise KeyError(f"Expected column '{col}' not found")
    majors = (
        df[col]
        .dropna()
        .astype(str)
        .str.strip()
        .replace("", np.nan)
        .dropna()
        .unique()
        .tolist()
    )
    return sorted(majors, key=lambda x: x.lower())

# Filter majors by substring or regex (case-insensitive)
def find_majors(df: pd.DataFrame, query: str, use_regex: bool = False, limit: int = 50) -> List[str]:
    majors = list_majors(df)
    if not query:
        return majors[:limit]
    if use_regex:
        pat = re.compile(query, flags=re.IGNORECASE)
        found = [m for m in majors if pat.search(m)]
    else:
        q = query.lower()
        found = [m for m in majors if q in m.lower()]
    return found[:limit]

# Heuristic to pick a default CREDLEV for a subset:
# - If credlev provided -> use it.
# - Else pick the most frequent CREDLEV among matched rows.
def pick_credlev(df: pd.DataFrame, major_substr: str, credlev: Optional[int] = None) -> Optional[int]:
    if credlev is not None:
        return credlev
    mask = df["CIPDESC"].str.contains(major_substr, case=False, na=False)
    if "CREDLEV" not in df.columns or not mask.any():
        return None
    c = df.loc[mask, "CREDLEV"].dropna()
    if c.empty:
        return None
    return int(c.mode().iloc[0])

# Wrapper: choose major and cred level, then run major_outcome
def choose_and_analyze(
    df: pd.DataFrame,
    major_query: str,
    credlev: Optional[int] = None,
    show_candidates: int = 10
) -> Tuple[pd.DataFrame, pd.DataFrame, dict]:
    candidates = find_majors(df, major_query, use_regex=False, limit=show_candidates)
    if not candidates:
        raise ValueError(f"No majors matched query: '{major_query}'")
    chosen_major = candidates[0]  # pick best match (first)
    chosen_credlev = pick_credlev(df, chosen_major, credlev)
    detail, summary = major_outcome(df, chosen_major, credlev=chosen_credlev)
    meta = {
        "query": major_query,
        "chosen_major": chosen_major,
        "chosen_credlev": chosen_credlev,
        "candidates_preview": candidates,
    }
    return detail, summary, meta

### Examples

In [7]:
# Preview majors containing "biology"
find_majors(df, "biology", limit=10)

['Biochemistry, Biophysics and Molecular Biology.',
 'Biology Technician/Biotechnology Laboratory Technician.',
 'Biology, General.',
 'Biomathematics, Bioinformatics, and Computational Biology.',
 'Botany/Plant Biology.',
 'Cell/Cellular Biology and Anatomical Sciences.',
 'Ecology, Evolution, Systematics, and Population Biology.',
 'Geobiology.',
 'Human Biology.',
 'Neurobiology and Neurosciences.']

In [10]:
# Auto-pick cred level and analyze for the best-matching "biology" major
detail, summary, meta = choose_and_analyze(df, "biology")
meta, summary.head()

({'query': 'biology',
  'chosen_major': 'Biochemistry, Biophysics and Molecular Biology.',
  'chosen_credlev': 3,
  'candidates_preview': ['Biochemistry, Biophysics and Molecular Biology.',
   'Biology Technician/Biotechnology Laboratory Technician.',
   'Biology, General.',
   'Biomathematics, Bioinformatics, and Computational Biology.',
   'Botany/Plant Biology.',
   'Cell/Cellular Biology and Anatomical Sciences.',
   'Ecology, Evolution, Systematics, and Population Biology.',
   'Geobiology.',
   'Human Biology.',
   'Neurobiology and Neurosciences.']},
               count          mean      50%      min      max
 INSTNM          695           NaN      NaN      NaN      NaN
 CIPDESC         712           NaN      NaN      NaN      NaN
 CREDLEV       712.0           3.0      3.0      3.0      3.0
 EARN_MDN_1YR  137.0  37957.642336  38243.0  19546.0  63781.0
 EARN_MDN_4YR   79.0  56953.873418  56377.0  38747.0  84199.0)

### Interactive picker: choose major and credential level

In [8]:
import ipywidgets as W
from IPython.display import display, clear_output

# Prepare choices
_all_majors = list_majors(df)

def _majors_filtered(query: str) -> list[str]:
    return find_majors(df, query or "", limit=200)

# Widgets
search_box = W.Text(
    value="biology",
    placeholder="Type to filter majors (substring)...",
    description="Search:",
    disabled=False,
    layout=W.Layout(width="400px")
)

majors_dd = W.Dropdown(
    options=_majors_filtered(search_box.value),
    description="Major:",
    layout=W.Layout(width="600px")
)

credlev_dd = W.Dropdown(
    options=[None, 1, 2, 3, 4, 5, 6, 7],  # adjust if your dataset uses a subset
    value=None,
    description="CREDLEV:",
    layout=W.Layout(width="200px")
)

auto_credlev_btn = W.Button(
    description="Auto-pick CREDLEV",
    tooltip="Pick the most frequent cred level for selected major",
    button_style="info",
)

run_btn = W.Button(
    description="Analyze",
    button_style="primary"
)

out = W.Output()

# Wire up interactions
def on_search_change(change):
    if change["name"] == "value":
        options = _majors_filtered(change["new"])
        majors_dd.options = options
        if options:
            majors_dd.value = options[0]

search_box.observe(on_search_change)

def on_auto_pick_clicked(_):
    if majors_dd.value:
        picked = pick_credlev(df, majors_dd.value, credlev=None)
        credlev_dd.value = picked

auto_credlev_btn.on_click(on_auto_pick_clicked)

def on_analyze_clicked(_):
    with out:
        clear_output()
        chosen_major = majors_dd.value
        chosen_cred = credlev_dd.value
        detail, summary = major_outcome(df, chosen_major, credlev=chosen_cred)
        print(f"Major: {chosen_major}")
        print(f"CREDLEV: {chosen_cred}")
        display(summary.head(12))
        display(detail.head(20))

run_btn.on_click(on_analyze_clicked)

controls = W.HBox([search_box, majors_dd, credlev_dd, auto_credlev_btn, run_btn])
display(W.VBox([controls, out]))

VBox(children=(HBox(children=(Text(value='biology', description='Search:', layout=Layout(width='400px'), place…

### Generate JSON for docs/graph.html picker (majors, credlevs, pre-binned hist + percentiles)

In [14]:
# Produces docs/data.json consumed by docs/graph.html
# Requires a DataFrame `df` with columns: CIPDESC, CREDLEV, EARN_MDN_1YR

import os
import json
import numpy as np
import pandas as pd

if "df" not in globals():
    # Fallback: try to load if not present
    if os.path.exists("clean_data.csv"):
        df = pd.read_csv("clean_data.csv")
    else:
        raise RuntimeError("DataFrame `df` not found and clean_data.csv is missing.")

# Build choices
majors = (
    df["CIPDESC"].dropna().astype(str).str.strip()
      .replace("", np.nan).dropna().unique().tolist()
)
majors = sorted(majors, key=str.lower)

has_cred = "CREDLEV" in df.columns
credlevs: list[int] = []
if has_cred:
    credlevs = sorted({int(c) for c in pd.to_numeric(df["CREDLEV"], errors="coerce").dropna().unique().tolist()})

def slice_series(major: str, cred: int | None) -> pd.Series:
    m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
    if has_cred and cred is not None:
        m &= (pd.to_numeric(df["CREDLEV"], errors="coerce") == cred)
    return pd.to_numeric(df.loc[m, "EARN_MDN_1YR"], errors="coerce").dropna()

def to_payload(s: pd.Series, bins: int = 50) -> dict:
    if s.empty:
        return {"bins": [], "pcts": {}}
    counts, edges = np.histogram(s.values, bins=bins)
    bins_list = [
        {"x0": float(edges[i]), "x1": float(edges[i+1]), "count": int(counts[i])}
        for i in range(len(counts))
    ]
    pcts = {f"p{k}": float(np.percentile(s.values, k)) for k in (10, 25, 50, 75, 90)}
    return {"bins": bins_list, "pcts": pcts}

data = {"majors": majors, "credlevs": credlevs, "payload": {}}
for m in majors:
    data["payload"][m] = {}
    keys = credlevs if has_cred else [None]
    for c in keys:
        s = slice_series(m, c)
        data["payload"][m][(None if not has_cred else int(c))] = to_payload(s)

os.makedirs("docs", exist_ok=True)
out_path = os.path.join("docs", "data.json")
with open(out_path, "w", encoding="utf-8") as f:
    json.dump(data, f)

print(f"Wrote {out_path} with {len(majors)} majors and {len(credlevs)} cred levels.")
# ... existing code ...

/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)
/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_49006/4151211969.py:29: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = df["CIPDESC"].astype(str).str.contains(major, case=False, na=False)

Wrote docs/data.json with 435 majors and 8 cred levels.