In [1]:
import pandas as pd
import numpy as np

In [2]:
clean_data = pd.read_csv("clean_data.csv")
clean_data.iloc[0]

UNITID                                        100654.0
CIPCODE                                            100
CIPDESC                          Agriculture, General.
CREDLEV                                              3
DEBT_ALL_STGP_ANY_MDN                               PS
DEBT_ALL_PP_ANY_MDN                                 PS
DEBT_ALL_PP_ANY_MDN10YRPAY                          PS
EARN_MDN_HI_1YR                                     PS
EARN_MDN_HI_2YR                                     PS
EARN_PELL_WNE_MDN_1YR                               PS
EARN_NOPELL_WNE_MDN_1YR                             PS
EARN_MALE_WNE_MDN_1YR                               PS
EARN_NOMALE_WNE_MDN_1YR                             PS
EARN_MDN_1YR                                        PS
EARN_MDN_4YR                                        PS
BBRR1_FED_COMP_N                                    PS
BBRR1_FED_COMP_PAIDINFULL                           PS
EARN_MDN_5YR                                        PS
CIPCODE_ORIG                                       100
INSTNM                        Alabama A & M University
CONTROL                                            1.0
DISTANCEONLY                                       0.0
NPT4_PUB                                       14559.0
NPT4_PRIV                                          NaN
COSTT4_A                                       23751.0
RPY_1YR_RT                                0.1734693878
RPY_3YR_RT                                0.2531554273
RPY_5YR_RT                                0.3311258278
DEBT_MDN                                         16600
MD_EARN_WNE_P10                                40628.0
MD_EARN_WNE_P6                                 27851.0
MD_EARN_WNE_5YR                                52246.0
Name: 0, dtype: object

In [3]:
clean_data.replace(["PS", "PrivacySuppressed", "NULL", "NaN"], np.nan)

,UNITID,CIPCODE,CIPDESC,CREDLEV,DEBT_ALL_STGP_ANY_MDN,DEBT_ALL_PP_ANY_MDN,DEBT_ALL_PP_ANY_MDN10YRPAY,EARN_MDN_HI_1YR,EARN_MDN_HI_2YR,EARN_PELL_WNE_MDN_1YR,...,NPT4_PUB,NPT4_PRIV,COSTT4_A,RPY_1YR_RT,RPY_3YR_RT,RPY_5YR_RT,DEBT_MDN,MD_EARN_WNE_P10,MD_EARN_WNE_P6,MD_EARN_WNE_5YR
0,100654.0,100,"Agriculture, General.",3,NaN,NaN,NaN,NaN,NaN,NaN,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
1,100654.0,101,Agricultural Business and Management.,3,NaN,NaN,NaN,NaN,NaN,NaN,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
2,100654.0,109,Animal Sciences.,3,NaN,NaN,NaN,NaN,NaN,NaN,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
3,100654.0,110,Food Science and Technology.,3,NaN,NaN,NaN,NaN,NaN,NaN,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
4,100654.0,110,Food Science and Technology.,5,NaN,NaN,NaN,NaN,NaN,NaN,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229183,NaN,5201,"Business/Commerce, General.",2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229184,NaN,5203,Accounting and Related Services.,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229185,NaN,5204,Business Operations Support and Assistant Serv...,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229186,NaN,5204,Business Operations Support and Assistant Serv...,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229187,NaN,5214,Marketing.,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
for col in clean_data.columns:
    clean_data[col] = pd.to_numeric(clean_data[col], errors="ignore")

/var/folders/91/7bq2ffcs2jq2_x6yfbfl8_2h0000gn/T/ipykernel_21311/1784778837.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  clean_data[col] = pd.to_numeric(clean_data[col], errors="ignore")

In [5]:
clean_data

,UNITID,CIPCODE,CIPDESC,CREDLEV,DEBT_ALL_STGP_ANY_MDN,DEBT_ALL_PP_ANY_MDN,DEBT_ALL_PP_ANY_MDN10YRPAY,EARN_MDN_HI_1YR,EARN_MDN_HI_2YR,EARN_PELL_WNE_MDN_1YR,...,NPT4_PUB,NPT4_PRIV,COSTT4_A,RPY_1YR_RT,RPY_3YR_RT,RPY_5YR_RT,DEBT_MDN,MD_EARN_WNE_P10,MD_EARN_WNE_P6,MD_EARN_WNE_5YR
0,100654.0,100,"Agriculture, General.",3,PS,PS,PS,PS,PS,PS,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
1,100654.0,101,Agricultural Business and Management.,3,PS,PS,PS,NaN,NaN,PS,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
2,100654.0,109,Animal Sciences.,3,PS,PS,PS,PS,PS,PS,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
3,100654.0,110,Food Science and Technology.,3,PS,PS,PS,PS,PS,PS,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
4,100654.0,110,Food Science and Technology.,5,PS,PS,PS,PS,PS,PS,...,14559.0,NaN,23751.0,0.1734693878,0.2531554273,0.3311258278,16600,40628.0,27851.0,52246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229183,NaN,5201,"Business/Commerce, General.",2,NaN,NaN,NaN,NaN,NaN,PS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229184,NaN,5203,Accounting and Related Services.,1,NaN,NaN,NaN,NaN,NaN,PS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229185,NaN,5204,Business Operations Support and Assistant Serv...,1,NaN,NaN,NaN,NaN,NaN,PS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229186,NaN,5204,Business Operations Support and Assistant Serv...,2,NaN,NaN,NaN,NaN,NaN,PS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229187,NaN,5214,Marketing.,3,NaN,NaN,NaN,NaN,NaN,PS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
clean_data.isna().mean().sort_values()

CIPCODE                       0.000000
CIPDESC                       0.000000
CREDLEV                       0.000000
EARN_MDN_1YR                  0.000000
EARN_NOMALE_WNE_MDN_1YR       0.000000
EARN_MALE_WNE_MDN_1YR         0.000000
EARN_NOPELL_WNE_MDN_1YR       0.000000
EARN_PELL_WNE_MDN_1YR         0.000000
CIPCODE_ORIG                  0.000000
EARN_MDN_5YR                  0.000000
DEBT_ALL_STGP_ANY_MDN         0.038636
EARN_MDN_4YR                  0.038636
BBRR1_FED_COMP_N              0.038636
BBRR1_FED_COMP_PAIDINFULL     0.038636
DEBT_ALL_PP_ANY_MDN           0.038636
DEBT_ALL_PP_ANY_MDN10YRPAY    0.038636
UNITID                        0.044108
DISTANCEONLY                  0.067530
CONTROL                       0.067530
INSTNM                        0.067530
DEBT_MDN                      0.071561
MD_EARN_WNE_P6                0.086318
MD_EARN_WNE_P10               0.088281
MD_EARN_WNE_5YR               0.088848
EARN_MDN_HI_1YR               0.104896
RPY_3YR_RT                    0.110874
RPY_1YR_RT                    0.113571
RPY_5YR_RT                    0.115032
EARN_MDN_HI_2YR               0.119435
COSTT4_A                      0.132503
NPT4_PUB                      0.431458
NPT4_PRIV                     0.667727
dtype: float64